/*-- scss:defaults --*/

// use litera as the base
$theme: "litera" !default;

// import google fonts
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap';

// use Atkinson Hyperlegible font if available
$font-family-sans-serif:      "Atkinson Hyperlegible", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// these are the litera base values, I'm just restating for me
$gray-300: #ddd !default;
$gray-400: #ced4da !default;

// very gently highlight the navbar
$navbar-light-hover-color:          $gray-300 !default;
$navbar-light-active-color:         $gray-300 !default;

/*-- scss:rules --*/

// Navbar

.navbar {
  font-size: $font-size-sm;
  border: 1px solid rgba(0, 0, 0, .1);

  &.bg-dark {
    background-color: $success !important;
  }

  &.bg-light {
    background-color: $gray-400 !important;
    border: 1px solid rgba(0, 0, 0, .1);

    &.navbar-fixed-top {
      border-width: 0 0 1px;
    }

    &.navbar-fixed-bottom {
      border-width: 1px 0 0;
    }
  }
}

// litera is serif by default: revert to san-serif
p {
  font-family: $font-family-sans-serif;
}

// this is the base litera, but I'm going to play with this
blockquote {
  font-style: italic;
}

// this is the base litera, but I'm going to play with this
footer {
  font-size: $font-size-sm;
}

// this is the base litera, but I'm going to play with this
.lead {
  color: $gray-600;
  font-family: $font-family-sans-serif;
}
