html {
   position: relative;
   min-height: 100%;
}
body {
   color: #333;
   padding-top: 8rem;
   padding-bottom: 8rem;
}
h1, h2, h3, h4, h5, h6 {
   font-weight: bold;
}
h1, h2, h3 {
  padding-top: 4rem;
  padding-bottom: 1rem;
  font-weight: bold;
}
pre {
   color: #333;
   display: block;
   padding: .75rem;
   word-break: break-all;
   word-wrap: break-word;
   white-space: pre-wrap;
   background-color: #f8f9fa;
   border: 1px solid #ccc;
   border-radius: 4px;
}
blockquote {
   font-weight: 400;
   font-size: 1.35rem;
   margin: 1rem 0 2rem;
   border-left: 2px solid #ccc;
   padding-left: 2rem;
}
.container {
   font-size: 1.1rem;
}
.pagination {
   font-size: .95rem;
   margin-top: 4rem;
}
.footer {
   background-color: #f7f7f7;
   font-size: .85rem;
   padding: .875rem 0 .875rem;
   position: absolute;
   bottom: 0;
   width: 100%;
   max-height: 6rem;
   overflow: visible;
}
.table {
   font-size: 1rem;
   color: inherit;
   width: auto;
   margin: auto;
}
.navbar {
   padding-top: .25rem;
   padding-bottom: .25rem;
}
.bd-navbar {
   background-color: #563d7c;
}
.bd-navbar .navbar-nav .nav-link {
   padding-right: .65rem;
   padding-left: .65rem;
   color: #cbbde2;
}
.bd-navbar .navbar-nav .nav-link.active,
.bd-navbar .navbar-nav .nav-link:hover {
   color: #fff;
   background-color: transparent;
}
.bd-navbar .navbar-nav .nav-link.active {
   font-weight: 600;
}
.bd-toc {
   font-size: .875rem;
   top: 3rem;
   right: 0;
   position: fixed;
   padding-top: 1.5rem;
   padding-bottom: 1.5rem;
   height: calc(100vh - 4rem);
   overflow-y: auto;
}
.section-nav {
   padding-left: 0;
   border-left: 1px solid #eee;
}
.section-nav ul {
   padding-left: 1rem;
}
.toc-entry {
   margin-left: -15px;
   display: block;
}
.toc-entry a {
   display: block;
   padding: .125rem 1.5rem;
   color: #77757a;
}
.toc-entry a:hover {
   color: #007bff;
   text-decoration: none;
}
.toc-entry ul {
   list-style: none;
}
code span.al { /* Alert */
   color: #ff0000;
   font-weight: bold;
}
code span.an { /* Annotation */
   color: #60a0b0;
   font-weight: bold;
   font-style: italic;
}
code span.at { /* Attribute */
   color: #7d9029;
}
code span.bn { /* BaseN */
   color: #40a070;
}
code span.bu { /* BuiltIn */
   color: #06287e;
}
code span.cf { /* ControlFlow */
   color: #007020;
   font-weight: bold;
}
code span.ch { /* Char */
   color: #4070a0;
}
code span.cn { /* Constant */
   color: #880000;
}
code span.co { /* Comment */
   color: #60a0b0;
   font-style: italic;
}
code span.cv { /* CommentVar */
   color: #60a0b0;
   font-weight: bold;
   font-style: italic;
}
code span.do { /* Documentation */
   color: #ba2121;
   font-style: italic;
}
code span.dt { /* DataType */
   color: #902000;
}
code span.dv { /* DecVal */
   color: #40a070;
}
code span.er { /* Error */
   color: #ff0000;
   font-weight: bold;
}
code span.ex { /* Extension */
   color: #06287e;
}
code span.fl { /* Float */
   color: #40a070;
}
code span.fu { /* Function */
   color: #06287e;
}
code span.im { /* Import */
   color: #007020;
   font-weight: bold;
}
code span.in { /* Information */
   color: #60a0b0;
   font-weight: bold;
   font-style: italic;
}
code span.kw { /* Keyword */
   color: #007020;
   font-weight: bold;
}
code span.op { /* Operator */
   color: #666666;
}
code span.ot { /* Other */
   color: #007020;
}
code span.pp { /* Preprocessor */
   color: #bc7a00;
}
code span.sc { /* SpecialChar */
   color: #4070a0;
}
code span.ss { /* SpecialString */
   color: #bb6688;
}
code span.st { /* String */
   color: #4070a0;
}
code span.va { /* Variable */
   color: #19177c;
}
code span.vs { /* VerbatimString */
   color: #4070a0;
}
code span.wa { /* Warning */
   color: #60a0b0;
   font-weight: bold;
   font-style: italic;
 }
