
#aside2 > h1 {
display: none;
}

#aside2{
position: relative; /* for disclaimer */
  height: var(--content-area-height);
}


/* main */
  
  /** big title **/
  h1, h2{
    text-transform: uppercase;
  }



/* sidebar */

.aside2 h2{
  font-weight: 400;
  font-size: 1.1rem;
}

.aside2 .level2{
  margin-top: 0.5in;
}

#skills2{
  line-height: 1.5;
}

#skills2 ul{
  margin: 0.05in 0 0.15in;
  padding: 0;
}

